authModel/__pycache__
authModel/migrations


podcastApplication/__pycache__
podcastApplication/settings.py
podcastApplication/wsgi.py

_dashboard/__pycache__
_dashboard/migrations

frontend/__pycache__
frontend/migrations

media
.env

db.sqlite3