{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></div>{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}

<div class="container p-4 bg-primary shadow shadow-lg text text-center">

    <div class="mt-4">
        <p>{% translate "Thanks for spending some quality time with the Web site today." %}</p>
        <p><a href="{% url 'admin:index' %}" class="btn btn-warning">{% translate 'Log in again' %}</a></p>
    </div>

</div>

{% endblock %}
