{% load static %}
{% static 'klassy/images/' as img %}
{% load app_settings_extras %}
{% static 'klassy/js/' as script %}


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v12.0" nonce="DfDc6LJd"></script>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="#" class="text text-white">{% appsettings "site_title" %}</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright {% appsettings "tagline_title" %}
                        
                        <br>Design: Team</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{script}}/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="{{script}}/popper.js"></script>
    <script src="{{script}}/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="{{script}}/owl-carousel.js"></script>
    <script src="{{script}}/accordions.js"></script>
    <script src="{{script}}/datepicker.js"></script>
    <script src="{{script}}/scrollreveal.min.js"></script>
    <script src="{{script}}/waypoints.min.js"></script>
    <script src="{{script}}/jquery.counterup.min.js"></script>
    <script src="{{script}}/imgfix.min.js"></script> 
    <script src="{{script}}/slick.js"></script> 
    <script src="{{script}}/lightbox.js"></script> 
    <script src="{{script}}/isotope.js"></script> 
    <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
    
    <!-- Global Init -->
    <script src="{{script}}/custom.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });
    

        function activity_interaction() {

            function activityFunction(el) {
                dataset = el.target.dataset
                console.log(dataset);
                console.log(dataset['post_id'], dataset['tag'])
            }
            $(document).ready(function() {
                let elem = $('.activity-btn');
                for (let index = 0; index < elem.length; index++) {
                    const element = elem[index];
                        element.addEventListener('click', activityFunction, false)
                }
            })
        }

        activity_interaction()



        function activity_interaction_vote() {
            function activityFunction(el) {
                let dataset = el.target.dataset
                let userid = dataset['user']
            if (userid != undefined ) {
                let windowObjectReference = null; // global variable
                let windowFeatures = "toolbar=no, menubar=no, popup=yes, scrollbars=no,resizable=no,top=100,left=500,width=700,height=500"
                let url = "/package/"+userid;
                
                if(windowObjectReference == null || windowObjectReference.closed) {
                    windowObjectReference = window.open(url, "loadWindows", windowFeatures, true);
                }else{
                    windowObjectReference.focus();
                }

            }else{
                alert('Click on the vote icon')
            }
                
            }
            $(document).ready(function() {
                let elem = $('.activity-btn-vote');
                for (let index = 0; index < elem.length; index++) {
                        const element = elem[index];
                        element.addEventListener('click', activityFunction, false)
                }
            })
        }

        activity_interaction_vote()
    
    </script>
  </body>
</html>