{% load static %}
{% load app_settings_extras %}
{% static 'klassy/images/' as img %}
{% static 'klassy/css/' as style %}
{% static 'klassy/js/' as script %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    <title>{% appsettings "site_title" %}</title>
<!--
    
TemplateMo 558 Klassy Cafe

https://templatemo.com/tm-558-klassy-cafe

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{style}}/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{style}}/font-awesome.css">

    <link rel="stylesheet" href="{{style}}/templatemo-klassy-cafe.css">

    <link rel="stylesheet" href="{{style}}/owl-carousel.css">

    <link rel="stylesheet" href="{{style}}/lightbox.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="media/{% appsettings 'site_logo' %}" style="width:60px; height:60px; border-radius: 100px; " align="klassy cafe html template">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                           	
                        <!-- 
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="#">Drop Down Page 1</a></li>
                                    <li><a href="#">Drop Down Page 2</a></li>
                                    <li><a href="#">Drop Down Page 3</a></li>
                                </ul>
                            </li>
                        -->
                            <li class="scroll-to-section"><a href="#menu">Menu</a></li>
                            <li class="scroll-to-section"><a href="#chefs">Chefs</a></li> 
                            <li class="submenu">
                                <a href="javascript:;">Features</a>
                                <ul>
                                    <li><a href="#">Features Page 1</a></li>
                                    <li><a href="#">Features Page 2</a></li>
                                    <li><a href="#">Features Page 3</a></li>
                                    <li><a href="#">Features Page 4</a></li>
                                </ul>
                            </li>
                            <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                            <li class="scroll-to-section"><a href="#reservation">Contact Us</a></li> 
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content bg-danger">
                        <div class="inner-content">
                            <h4>{% appsettings "site_title" %}</h4>
                            <h6>{% appsettings "tagline_title" %}</h6>
                            <div class="main-white-button scroll-to-section">
                                <a href="#reservation">Make A Reservation</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">
                          <!-- Item -->
                          {% for slide in slider %}
                          <div class="item">
                            <div class="img-fill" 
                            style="background:url(media/{{slide.bg_image}})no-repeat; background-size:cover; height: 450px;">
                                <div id="slider-inner-content">
                                       <div id="inner">
                                            <h1>{{slide.title}}</h1>
                                            <h4>{{slide.sub_title}}</h4>
                                            <p>{{slide.description}}</p>
                                       </div>
                                </div>
                            </div>
                          </div>
                          <!-- // Item -->
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

     <!-- ***** Menu Area Starts ***** -->
     <section class="section" id="offers">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>Newest Podcast</h6>
                        <h2>This Week’s Special</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <div class="heading-tabs">
                                <div class="row">
                                    <div class="col-lg-6 offset-lg-3">
                                        <!-- <ul>
                                          <li><a href='#tabs-1'><img src="{{img}}/tab-icon-01.png" alt="">Breakfast</a></li>
                                          <li><a href='#tabs-2'><img src="{{img}}/tab-icon-02.png" alt="">Lunch</a></a></li>
                                          <li><a href='#tabs-3'><img src="{{img}}/tab-icon-03.png" alt="">Dinner</a></a></li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                    {% for pod in podcast %}
                                    {% if pod.approve %}
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="media/{{pod.cover}}" alt="">
                                                            <h4 class="pl-3">{{pod.title}}</h4>
                                                            {% if pod.description != None %}
                                                                    {{pod.description|safe}}
                                                            {% else %}
                                                                <p>Lor ipsum dolor sit amet consectetur, adipisicing elit. Totam voluptatibus odit unde fugiat alias nobis vero, earum minima debitis magni quos qui!</p>
                                                            {% endif %}
                                                            
                                                            <div class="price">
                                                                <h6 style="font-size:12px; min-height:30px;">{{pod.type}}</h6>
                                                            </div>
                                                            <div class="bg-danger p-1 rounded rounded-sm text text-white text-center" style="font-size: 10px;">
                                                                <span class="mr-4">Upload date:{{pod.upload_at}}</span>
                                                                <span class="ml-4">Posted By: {{pod.user}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}

                                    </div>
                                </article>  
                               
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Chefs Area Ends ***** --> 



    {% for cat in category %}
    <!-- ***** Menu Area Starts ***** -->
    {% if cat.approve %}
    {% if cat.podcastcategory.filter|length > 0 %}
    <section class="section" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>{{cat.parent}}</h6>
                        <h2>This Week’s {{cat.parent}} Special</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item-carousel">
            <div class="col-lg-12">
                <div class="owl-menu-item owl-carousel">


                    {% for pod in cat.podcastcategory.filter %}
                    {% if pod.approve %}

                    <div class="item" >
                        <div class='card card1' style="background:url(media/{{pod.cover}})no-repeat; background-size:cover;background-position:bottom;">
                            <div class="price"><h6 style="font-size: 12px !important;">{% podcastDays pod.upload_at %}</h6></div>
                            <div class='info'>
                              <h1 class='title'>{{pod.title}}</h1>
                              {% if pod.bg_cover.description != None %}
                              <p class='description'>
                                    {{pod.description}}
                              </p>
                              {% else %}
                              <p class='description'>
                                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, 
                                   eveniet? Earum molestiae inventore quis ab assumenda animi. Tenetur 
                                   cupiditate consequatur modi 
                                   velit obcaecati? Ratione repellendus non nisi sequi quasi dolores.
                              </p>
                              {% endif %}
                              <div class="main-text-button">
                                  <div class="scroll-to-section"><a href="#reservation">Make Reservation <i class="fa fa-angle-down"></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% endif %}
 
    {% endfor %}
    <!-- ***** Menu Area Ends ***** -->




    <!-- ***** Chefs Area Starts ***** -->
    {% if profile|length > 0 %}
    <section class="section" id="chefs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6> Active Users </h6>
                        <h2>We offer the best sevice plateform for you</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for prof in profile %}
                {% if prof.approve %}
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <img src="media/{{prof.logo}}" alt="Chef #1">
                        </div>
                        <div class="down-content">
                            <h4>{{prof.user.first_name}} - {{prof.user.last_name}}</h4>
                            <p>{{prof.user.username}}</p>
                            <span>{{prof.user.email}}</span>
                        </div>

                        

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-12 mt-4 text-center">
            <a href="" class="btn btn-danger">Load more</a>
        </div>
    </section>
    <!-- ***** Chefs Area Ends ***** -->
    {% endif %}

    <!-- ***** Reservation Us Area Starts ***** -->
    <section class="section" id="reservation">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contact Us</h6>
                            <h2>Here You Can Make A Reservation Or Just walkin to our cafe</h2>
                        </div>
                        <p>Donec pretium est orci, non vulputate arcu hendrerit a. Fusce a eleifend riqsie, namei sollicitudin urna diam, sed commodo purus porta ut.</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="phone">
                                    <i class="fa fa-phone"></i>
                                    <h4>Phone Numbers</h4>
                                    <span><a href="#">080-090-0990</a><br><a href="#">080-090-0880</a></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="message">
                                    <i class="fa fa-envelope"></i>
                                    <h4>Emails</h4>
                                    <span><a href="#">hello@company.com</a><br><a href="#">info@company.com</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-lg-12">
                                <h4>Table Reservation</h4>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                            </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <fieldset>
                                <input name="phone" type="text" id="phone" placeholder="Phone Number*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <select value="number-guests" name="number-guests" id="number-guests">
                                    <option value="number-guests">Number Of Guests</option>
                                    <option name="1" id="1">1</option>
                                    <option name="2" id="2">2</option>
                                    <option name="3" id="3">3</option>
                                    <option name="4" id="4">4</option>
                                    <option name="5" id="5">5</option>
                                    <option name="6" id="6">6</option>
                                    <option name="7" id="7">7</option>
                                    <option name="8" id="8">8</option>
                                    <option name="9" id="9">9</option>
                                    <option name="10" id="10">10</option>
                                    <option name="11" id="11">11</option>
                                    <option name="12" id="12">12</option>
                                </select>
                              </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <div id="filterDate2">    
                                  <div class="input-group date" data-date-format="dd/mm/yyyy">
                                    <input  name="date" id="date" type="text" class="form-control" placeholder="dd/mm/yyyy">
                                    <div class="input-group-addon" >
                                      <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                  </div>
                                </div>   
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <select value="time" name="time" id="time">
                                    <option value="time">Time</option>
                                    <option name="Breakfast" id="Breakfast">Breakfast</option>
                                    <option name="Lunch" id="Lunch">Lunch</option>
                                    <option name="Dinner" id="Dinner">Dinner</option>
                                </select>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon">Make A Reservation</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Reservation Area Ends ***** -->

<!-- model -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<!-- model -->






    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="#" class="text text-white">{% appsettings "site_title" %}</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright Klassy Cafe Co.
                        
                        <br>Design: TemplateMo</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{script}}/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="{{script}}/popper.js"></script>
    <script src="{{script}}/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="{{script}}/owl-carousel.js"></script>
    <script src="{{script}}/accordions.js"></script>
    <script src="{{script}}/datepicker.js"></script>
    <script src="{{script}}/scrollreveal.min.js"></script>
    <script src="{{script}}/waypoints.min.js"></script>
    <script src="{{script}}/jquery.counterup.min.js"></script>
    <script src="{{script}}/imgfix.min.js"></script> 
    <script src="{{script}}/slick.js"></script> 
    <script src="{{script}}/lightbox.js"></script> 
    <script src="{{script}}/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="{{script}}/custom.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>
  </body>
</html>