{% load static %}
{% load app_settings_extras %}
{% static 'klassy/images/' as img %}
{% static 'klassy/css/' as style %}
{% static 'klassy/js/' as script %}
{% load social_share %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="podcast demtyfamily">
    <meta name="author" content="demtyfamily">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="media/{% appsettings 'site_favicon' %}" type="image/x-icon">
    
    <title>{% appsettings "site_title" %}</title>
<!--
    
TemplateMo 558 Klassy Cafe

https://templatemo.com/tm-558-klassy-cafe

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{style}}/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{style}}/font-awesome.css">

    <link rel="stylesheet" href="{{style}}/templatemo-klassy-cafe.css">

    <link rel="stylesheet" href="{{style}}/owl-carousel.css">

    <link rel="stylesheet" href="{{style}}/lightbox.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <img src="media/{% appsettings 'site_logo' %}" style="width:60px; height:60px; border-radius: 100px; " align="klassy cafe html template">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#menu">Podcast</a></li>

                            <li class="scroll-to-section"><a href="/dashboard">Login</a></li>
                            <li class="scroll-to-section"><a href="/account" class="text text-danger">Become a member</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content bg-danger">
                        <div class="inner-content">
                            <h4>{% appsettings "site_title" %}</h4>
                            <h6>{% appsettings "tagline_title" %}</h6>
                            <div class="main-white-button scroll-to-section">
                                <a href="/account">Become a member</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">
                          <!-- Item -->
                          {% for slide in slider %}
                          <div class="item">
                            <div class="img-fill" 
                            style="background:url(media/{{slide.bg_image}})no-repeat; background-size:cover; height: 450px;">
                                <div id="slider-inner-content">
                                       <div id="inner">
                                            <h1>{{slide.title}}</h1>
                                            <h4>{{slide.sub_title}}</h4>
                                            <p>{{slide.description}}</p>
                                       </div>
                                </div>
                            </div>
                          </div>
                          <!-- // Item -->
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

     <!-- ***** Menu Area Starts ***** -->
     <section class="section" id="offers">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 ">
                    <div class="section-heading">
                        <h6>Trending...</h6>
                        <h2 class="text">This Week’s Special</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <div class="heading-tabs">
                                <div class="row">
                                    <div class="col-lg-6 offset-lg-3">
                                        <!-- <ul>
                                          <li><a href='#tabs-1'><img src="{{img}}/tab-icon-01.png" alt="">Breakfast</a></li>
                                          <li><a href='#tabs-2'><img src="{{img}}/tab-icon-02.png" alt="">Lunch</a></a></li>
                                          <li><a href='#tabs-3'><img src="{{img}}/tab-icon-03.png" alt="">Dinner</a></a></li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <section class='tabs-conten'>
                               <div class="row">
                                {% for pod in podcast_lastest %}
                                {% if pod.approve %}
                                     <div class="col-lg-3 bg-white shadow p-3">
                                        <div class="mb-2">
                                            <h6 class="text text-danger">{{pod.type}}</h6>
                                        </div>
                                         <div>
                                            <img src="media/{{pod.cover}}" alt="" style="width:100% !important; 
                                            height:200px !important; border-radius:10px;">
                                         </div>
                                            <div class="mt-4 mb-4"><h3 class="text text-center" style="font-weight: 500;">{{pod.title}}</h3></div>
                                            <div>
                                                {% if pod.description != None %}
                                                {{pod.description|safe|slice:":100"}}
                                                {% else %}
                                                    <p>Lor ipsum dolor sit amet consectetur, adipisicing elit. Totam voluptatibus odit unde fugiat alias nobis vero, earum minima debitis magni quos qui!</p>
                                                {% endif %}
                                            </div>
                                            <div class="bg-danger p-1 rounded rounded-sm text text-white text-center" style="font-size: 10px;">
                                                <span class="mr-">Upload date:{{pod.upload_at}}</span> |
                                                <span class="ml-">Posted By: {{pod.user.username}}</span>
                                            </div>
                                        <div class="mt-4">
                                            <span>{% post_to_facebook object_or_url "Facebook" %}</span>
                                        </div>

                                     </div>
                                {% endif %}
                                {% endfor %}
                               </div>
                               
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Chefs Area Ends ***** --> 



    {% for cat in category %}
    <!-- ***** Menu Area Starts ***** -->
    {% if cat.approve %}
    {% if cat.podcastcategory.filter|length > 0 %}
    <section class="section" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>{{cat.parent}}</h6>
                        <h2>This Week’s {{cat.parent}} Special</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item-carousel">
            <div class="col-lg-12">
                <div class="owl-menu-item owl-carousel">
                    {% for pod in cat.podcastcategory.filter %}
                    {% if pod.approve %}
                    <div class="item" >
                        <div class='card card1' style="background:url(media/{{pod.cover}})no-repeat; background-size:cover;background-position:bottom;">
                            <div class="price"><h6 style="font-size: 12px !important;">{% podcastDays pod.upload_at %}</h6></div>
                            <div class='info'>
                              <h1 class='title'>{{pod.title}}</h1>
                              {% if pod.bg_cover.description != None %}
                              <p class='description'>
                                    {{pod.description}}
                              </p>
                              {% else %}
                              <p class='description'>
                                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, 
                                   eveniet? Earum molestiae inventore quis ab assumenda animi. Tenetur 
                                   cupiditate consequatur modi 
                                   velit obcaecati? Ratione repellendus non nisi sequi quasi dolores.
                              </p>
                              {% endif %}
                              <div class="main-text-button">
                                  <div class="scroll-to-section"><a href="#reservation">Make Reservation <i class="fa fa-angle-down"></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% endif %}
 
    {% endfor %}
    <!-- ***** Menu Area Ends ***** -->




    <!-- ***** Chefs Area Starts ***** -->
    {% if profile|length > 0 %}
    <section class="section" id="chefs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6> Active Users </h6>
                        {{ profile|length}}
                        <h2>We offer the best sevice plateform for you</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for prof in profile %}
                {% if prof.approve %}
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <img src="media/{{prof.logo}}" alt="Chef #1">
                        </div>
                        <div class="down-content">
                            <h4>{{prof.user.first_name}} - {{prof.user.last_name}}</h4>
                            <p>{{prof.user.username}}</p>
                            <span>{{prof.user.email}}</span>
                        </div>

                        

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-12 mt-4 text-center">
            <a href="" class="btn btn-danger">Load more</a>
        </div>
    </section>
    <!-- ***** Chefs Area Ends ***** -->
    {% endif %}

    <!-- ***** Reservation Us Area Starts ***** -->
    <section class="section" id="reservation">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-text-content">
                        <div class="section-heading bg-danger p-3">
                            <h6>Contact Us</h6>
                            <h2>Here You Can Make A Reservation Or Just walkin to our cafe</h2>
                        </div>
                    
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="phone">
                                    <i class="fa fa-phone"></i>
                                    <h4>Phone Numbers</h4>
                                    <span><a href="#">{% appsettings "phone1" %}</a><br><a href="#">{% appsettings "phone2" %}</a></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="message">
                                    <i class="fa fa-envelope"></i>
                                    <h4>Emails</h4>
                                    <span><a href="#">{% appsettings "email1" %}</a><br><a href="#">{% appsettings "email2" %}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-lg-12">
                                <h4>Reach us</h4>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                            </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <fieldset>
                                <input name="phone" type="text" id="phone" placeholder="Phone Number*" required="">
                              </fieldset>
                            </div>
                    
                            <div class="col-lg-6">
                                <div id="filterDate2">    
                                  <div class="input-group date" data-date-format="dd/mm/yyyy">
                                    <input  name="date" id="date" type="text" class="form-control" placeholder="dd/mm/yyyy">
                                    <div class="input-group-addon" >
                                      <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                  </div>
                                </div>   
                            </div>
                            
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon">Contact us</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Reservation Area Ends ***** -->

<!-- model -->

<!-- Modal -->


<!-- model -->






    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="#" class="text text-white">{% appsettings "site_title" %}</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright {% appsettings "tagline_title" %}
                        
                        <br>Design: Team</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{script}}/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="{{script}}/popper.js"></script>
    <script src="{{script}}/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="{{script}}/owl-carousel.js"></script>
    <script src="{{script}}/accordions.js"></script>
    <script src="{{script}}/datepicker.js"></script>
    <script src="{{script}}/scrollreveal.min.js"></script>
    <script src="{{script}}/waypoints.min.js"></script>
    <script src="{{script}}/jquery.counterup.min.js"></script>
    <script src="{{script}}/imgfix.min.js"></script> 
    <script src="{{script}}/slick.js"></script> 
    <script src="{{script}}/lightbox.js"></script> 
    <script src="{{script}}/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="{{script}}/custom.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>
  </body>
</html>