{% extends 'admin/base.html' %}


{% block content %}

<div class="link-content">
    <button class="printout-button" onclick="printDiv('printout-area')"><i class="fa fa-print"></i> Click to Print</button>
</div>
   
<div class="printout-area" id="printout-area">
    <table>

        <thead>
            {% for fields in param_fields %}
                <th>{{fields}}</th>
            {% endfor %}

           
        </thead>

        <tbody>
             {% for result in  printoutResults %}
             <tr>
                {% for i, key in result.items %}
                    {% if i in param_fields %}
                            
                        {% if i == 'country' %}
                            <td>{{key}}</td>
                        {% else %}
                            <td>{{key}}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        

    </table>
   
</div>

{{block.super}}


<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
{% endblock content %}