{% load static %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static '/payments/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/payments/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static '/payments/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static '/payments/js/sb-admin-2.min.js' %}"></script>



</body>

</html>