
div#link-container{
    margin:20px;
    width: 100%;
}

div#link-container > .link-content{
    display: inline-block;
}

@media screen {
    
   
    

}

a{
    text-decoration: none;
}


.printout-button{
    border:2px solid #ddd;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 20px;
    background: rgb(29, 135, 177);
    color:#fff !important;
    font-weight: 500px;
    cursor: pointer;
    box-shadow: 0 3px 6px #ddd;
}


.printout-button:focus{
    box-shadow: 0 0px 5px #ddd;
}

.printout-button:hover{
    box-shadow: 0 0px 5px #ddd;
}


/* div#printout-area{
   
} */


@media print {
    body * {
      visibility: visible;
    }
    #printout-area {
      visibility: visible;
    }
    #printout-area {
      position: absolute;
      left: 0;
      top: 0;
    }
  }


  #header{
      background: rgb(2, 65, 94) !important;
  }



  input[type="submit"]{
    background: rgba(1, 30, 49) !important;
    color:#fff !important;
  }

  div.breadcrumbs{
    background: rgb(2, 23, 51) !important;
    /* color:#fff !important; */
  }